<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 611px;">
    <div class="js-sidebar-content ng-scope" style="overflow: hidden; width: auto; height: 611px;">
        <header class="logo hidden-xs">
            Kiddifieds
        </header>
        <!-- seems like lots of recent admin template have this feature of user info in the sidebar.
             looks good, so adding it and enhancing with notifications -->
        <div class="sidebar-status visible-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                New <strong>User</strong>
                <b class="caret"></b>
            </a>
            <!-- #notifications-dropdown-menu goes here when screen collapsed to xs or sm -->
        </div>
        <!-- main notification links are placed inside of .sidebar-nav -->
        <ul class="sidebar-nav">
            <li class="active open">
                <!-- an example of nested submenu. basic bootstrap collapse component -->
                <a class="" data-target="#sidebar-dashboard" data-toggle="collapse" data-parent="#sidebar" aria-expanded="true">
                    <span class="icon">
                        <i class="fa fa-desktop"></i>
                    </span>
                    Dashboard
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-dashboard" class="collapse in" aria-expanded="true">
                    <li class="active"><a data-ui-sref="app.page({ page: 'search', child: null })">Dashboard</a></li>
                    <li class="active"><a data-ui-sref="app.page({ page: '_advSearch', child: null })">Advanced Search</a></li>

                </ul>
            </li>

        </ul>
        <!-- every .sidebar-nav may have a title -->

        <ul class="sidebar-nav">
            <li>
                <!-- an example of nested submenu. basic bootstrap collapse component -->
                <a class="collapsed" data-target="#sidebar-forms" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="glyphicon glyphicon-align-right"></i>
                    </span>
                    Forms
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-forms" class="collapse">
                    <li><a data-ui-sref="app.page({ page: '_login', child: null })" >Log in</a></li>
                    <li><a data-ui-sref="app.page({ page: '_registerSeeker', child: null })" >Register User</a></li>
                    <li><a data-ui-sref="app.page({ page: '_createAdvertisement', child: null })" >Create an Ad</a></li>

                </ul>
            </li>

            <li>
                <a class="collapsed" data-target="#sidebar-history" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class = "glyphicon glyphicon-time"></i>
                    </span>
                        History
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-history" class="collapse">
                    <li><a data-ui-sref="app.page({ page: '_servicesUsed', child: null })">Services I used</a></li>
                    <li><a data-ui-sref="app.page({ page: '_servicesPosted', child: null })">Services I posted</a></li>
                </ul>
            </li>

            <li>
                <a class="collapsed" data-target="#sidebar-features" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-leaf"></i>
                    </span>
                    Features
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-features" class="collapse">
                    <li><a data-ui-sref="app.page({ page: '_calendar', child: null })">Calendar <sup class="bg-transparent text-danger fs-sm fw-bold">ng</sup></a></li>
                </ul>
            </li>
        </ul>

    </div>
    <div class="slimScrollBar" style="width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 390.912041884817px; background: rgb(0, 0, 0);">

    </div>
    <div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);">

    </div>
</div>